/*h1 {text-align: center;color:#C56FF4; font-size:100px; font-family: sans-serif;}
<<<<<<< HEAD> >>>>>>>>>
h2 {style="background-color:#C56FF4;" font-size:40px; font-family: sans-serif;}
=======
h2 {text-align: center; color:DarkBlue; font-size:40px; font-family: sans-serif;}
>>>>>>> d4823a6dce076992b96dcae749f14de071a86fac
h3 {color:MidnightBlue; font-size:30px; font-family: sans-serif;}
h4 {color:LightSkyBlue; font-size:20px; font-family: sans-serif;}
h5 {color:MediumTurquoise; font-size:20px; font-family: sans-serif;}

span{
   color:#673A82;*/
h1 {
  text-align:center;
  color:black;
  font-size:150px;
  font-family:sans-serif;
}

body{background-color:#C56FF4;}
