h1 {text-align: center;color:#C56FF4; font-size:100px; font-family: sans-serif;}
h2 {style="background-color:#C56FF4;" font-size:30px; font-family: sans-serif;}
h3 {color:Black; font-size:30px; font-family: sans-serif;}
h4 {color:Black; font-size:30px; font-family: sans-serif;}
h5 {color:Black; font-size:20px; font-family: sans-serif;}

span{
   color:#673A82;
}


border: 1px solid #979797;
